*{
    margin: 0;
    padding: 0;
}

nav,ul{
    display: flex;
}

ul>li{
    margin: 20px;    
    list-style: none;
    color: white;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}

ul{
    gap: 10px;
}


nav{
    background-color: black;
}